<table class="table-hover">
	<thead>
		<tr>
			<th><%= tri_colonne "Id" %></th>
			<th><%= tri_colonne "Name"%></th>
			<th><%= tri_colonne "Continent" %></th>
			<th><%= tri_colonne "LocalName" %></th>
			<th><%= tri_colonne "Capital" %></th>
		</tr>
	</thead>
	<tbody>
		<% @countries.each do |country| %>
		<tr>
			<td><%= country.id %></td>
			<td><%= country.Name %></td>
			<td><%= country.Continent %></td>
			<td><%= country.LocalName %></td>
			<% if country.capital == nil then %>
				<td></td>
			<% else %>
				<td><%= country.capital.Name %></td>
			<% end %>
			<td><%= country.cities.length %> villes<br/>
				<%= link_to "Detail", {:controller => "city", :action => "details", :country_id => country.id}%>
			</td>
			<td><%= country.languages.length %> langues<br/>
				<%= link_to "Detail", {:controller => "language", :action => "details", :country_id => country.id}%>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>