<h1>Pays du monde</h1>
<p>
	Bonjour,<br/>
	<br/>
	Voici une application faite enti&egrave;rement en ruby, recensant tous les pays du monde. 
	Maintenant que vous la savez, vous pouvez tester l'application comme bon vous semble. 
	Amusez-vous bien !
</p>