<table class="table-hover">
	<thead>
		<tr>
			<td>Nom</td>
			<td>Population</td>
		</tr>
	</thead>
	<tbody>
		<% @cities.each do |city| %>
			<tr>
				<td><%= city.Name %></td>
				<td><%= city.Population %></td>
			</tr>
		<% end %>
	</tbody>
</table>
