<table class="table-hover">
	<thead>
		<tr>
			<td>Nom</td>
			<td>Pourcentage</td>
		</tr>
	</thead>
	<tbody>
		<% @languages.each do |language| %>
			<tr>
				<td><%= language.Name%></td>
				<td><%= language.countryLanguages.find_by_idCountry(@country).Percentage %>%</td>
				<td><%= link_to "Pays parlant cette langue", {:controller => "language", :action => "cities", :language_id => language.id} %></td>
			</tr>
		<% end %>
	</tbody>
</table>
